.friends {

  h2 {
    margin-bottom: 10px;
    font-size: 32px;
    color: #fff;
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li span {
      display: block;
      text-align: center;
    }
  }
}