.profile_info {

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

.profile_info_disc {
  padding: 10px;

  img {
    width: 60px;
    height: auto;
    border-radius: 5px;
  }
}